<div class = "center jumbotron">
<h1>Editing racer number <%= @racer.number %> </h1>
</div>

<div class = "container">
<h1>

<%= render 'form' %>

<%= link_to 'Show', @racer %> |
<%= link_to 'Back', racers_path %>
</h1>
</div>